.characterDetailCard {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (width> 767px) {
        flex-direction: row;
    }
 
    &_info {
        display: inline;
        text-align: center;

        @media screen and (width> 767px) {
            margin-left: 40px;
        }
    }

    &_imgDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &_img {
        width: 200px;
        border: solid #97ce4c 8px;

        @media screen and (width> 767px) {
            width: 350px; 
        }
    }

    &_title {
        color: #35c9dd;
        font-size: 50px;

        @media screen and (width> 767px) {
            font-size: 70px;
        }

    }

    &_specie {
        color: #f0e14a;
        letter-spacing: 2px;
        font-size: 30px;

        @media screen and (width> 767px) {
            font-size: 40px;
        }

    }

    &_origin {
        color: #97ce4c;

        @media screen and (width> 767px) {
            font-size: 40px;
        }
    }

    &_episodesTitle {
        color: #35c9dd;
        font-size: 30px;
        margin-top: 10px;
    }

    &_episode {
        text-decoration: none;
    }

    &_statusTitle {
        margin-top: 10px;
        color: white;
    }

    &_status {
        color: #97ce4c;
        letter-spacing: 2px;
        font-size: 40px;

        @media screen and (width> 767px) {
            font-size: 50px;
        }
    }
}

.seeEpisodesButton {
    width: 85px;
    height: 30px;
    background-color: #f0e14a;
    font-family: Creepster;
    margin-bottom: 20px;

}

.seeEpisodesButton:hover {
    background-color: #099d8d;
    color: #fff;
    transform: scale(1.2);
}

.backLink {
    color: #35c9dd;
    text-decoration: none;
    font-size: 20px;
    margin-top: 30px;
    display: block;
    text-align: center;

    @media screen and (width> 767px) {
        font-size: 40px;
        margin-top: 80px;
    }
}

.backLink:hover {
    color: #fff;
    transform: scale(1.2);
}

.deadIcon {
    color: white;
    margin-top: 20px;
    font-size: 50px;
}